<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="github.bewantbe">

    <!--<uses-sdk-->
        <!--android:minSdkVersion="8"-->
        <!--android:targetSdkVersion="25" />-->

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:name=".depressionanalysis.PredictiveIndex"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".audio_analyzer_for_android.AnalyzerActivity"
            android:label="@string/app_name" >
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>--><!--
            <intent-filter>
                &lt;!&ndash; Deeplink support &ndash;&gt;
                &lt;!&ndash; https://developer.android.com/training/app-indexing/deep-linking.html &ndash;&gt;
                &lt;!&ndash; Can start app by &ndash;&gt;
                &lt;!&ndash; adb shell am start -W -a android.intent.action.VIEW -d "bewantbe://asa" &ndash;&gt;
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="bewantbe" android:host="asa" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".audio_analyzer_for_android.MyPreferences"
            android:label="@string/preferences" >
        </activity>
        <activity
            android:name=".audio_analyzer_for_android.InfoRecActivity"
            android:label="@string/title_activity_info_rec"
            android:parentActivityName=".audio_analyzer_for_android.AnalyzerActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".audio_analyzer_for_android.AnalyzerActivity" />
        </activity>
        <activity
            android:name=".depressionanalysis.SpectrogramShow"
            android:label="SpectrogramShow"
            android:parentActivityName=".depressionanalysis.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".depressionanalysis.MainActivity" />
        </activity>
        <activity
            android:name=".depressionanalysis.TestAPI"
            android:label="@string/title_activity_test_api"
            android:parentActivityName=".depressionanalysis.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".depressionanalysis.MainActivity" />
        </activity>
        <activity
            android:name=".depressionanalysis.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".depressionanalysis.Recording"
            android:label="@string/title_activity_recording"
            android:parentActivityName=".depressionanalysis.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".depressionanalysis.MainActivity" />
        </activity>

    </application>

</manifest>